.project
.cproject
CMakeFiles
Makefile
CMakeCache.txt
*.cmake
*.qm
qrc_*.c*
*.qrc.depends
ts.qrc
.settings
config.h
version.h
jet1oeil-soapero
moc_*.c*
*.sqlite
README
build
data/theme/icons
core
.idea
cmake-build-*
